.scrollToTop {
  .iconContainer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
    z-index: 2;
    cursor: pointer;
    opacity: 0.6;
    text-align: center;
    &:hover {
      opacity: 1;
      animation: wiggle 1s ease;
      animation-iteration-count: 1;
    }
    @keyframes wiggle {
      20% {
        transform: translateY(6px);
      }
      40% {
        transform: translateY(-6px);
      }
      60% {
        transform: translateY(4px);
      }
      80% {
        transform: translateY(-2px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
  .wrapperContainer {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    position: relative;
  }

  .button {
    background: $blue;
    color: $white;
    font-family: "700", sans-serif;
    font-size: 16px;
    line-height: 30px;
    border-radius: 15px;
    width: 100px;
    padding-top: 4px;
  }
}
